# Godot 4+ specific ignores
**/.godot/
**/android/

# Godot 3 specific (just in case)
**/.import/

# Exports (Binaries and data)
**/*.exe
**/*.pck
**/*.console.exe
**/export_presets.cfg
**/export.cfg
**/export_credentials.cfg

# Mono/C# specific ignores
**/.mono/
**/data_*/
**/mono_crash.*.json

# Translation and misc
**/*.translation
.nomedia